/**
 * todd
 */


@import "moon.scss";

$some-darkish-color: #0f696e; /* taken from a slightly dark pyramid */

.reveal .slides section {
  padding-top: 1em;
}

section#intro {
    padding-top: 1em;
}

.reveal {
  font-size: 3em;
}

.reveal p {
  font-size: 1.2em;
}
/*.reveal h2 {
  font-size: 2.81em;
}

.reveal p {
  font-size: 1.2em;
}

.reveal li {
  font-size: 1.2em;
}*/

del {
	color: gray;
}

.reveal h2 {
  /*margin-top: -3em;
  top: -3em;
  position: relative;*/
}

code.heading {
	font-size: 1.8em;
	position: relative;
  top: -2em;
}
.wrapper-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.left-half {
  grid-column: 1 / 2;
  grid-row: 1;
}
.right-half {
  grid-column: 2 / 2;
  grid-row: 1;
}

span.url-text {
  font-size: 0.7em;
  margin: -0.3em 0 0.8em 0;
  display: block;
  color: lighten($some-darkish-color, 10%);
}